/*
 * mmui style
 */
#dm_window_overlay {
        position: fixed;
        z-index:499;
        top: 0px;
        left: 0px;
        height:100%;
        width:100%;
        background-color:#fff;
        filter:alpha(opacity=40);
        -moz-opacity: 0.4;
        opacity: 0.4;
}
#dm_window_selectmask {
        z-index:99;
        position:absolute;
        top: 0;
        left: 0;
        background-color:#fff;
        border:none;
        filter:alpha(opacity=0);
        -moz-opacity: 0;
        opacity: 0;
        height:100%;
        width:100%;
}
* html #dm_window_overlay, * html #dm_window_selectmask { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}


.mm-popup {
    position:absolute;
    z-index:500;
    top: 0px;
    left: 0px;
    overflow:hidden;
}

.mmpop-aero {
	background:#aaa;
	background:rgba(0,0,0,.3);
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	padding:8px;
}
.mmpop-aero > div:first-child {
	-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;
	-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.mmpop-aero > div:last-child {
	-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.mmpop-aero .hd {
    height:36px;
    padding:0 10px;

	background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');

	border-bottom:1px solid #bababa;

	-webkit-box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
	-moz-box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
	box-shadow:
		inset 0px -1px 0px #fff,
		0px 1px 3px rgba(0,0,0,.08);
}
.mmpop-aero .hd .title {
	float: left ;
	line-height:36px;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	text-shadow: 0px 1px 0px #fff;
}
.mmpop-aero .hd .close {
    float:right;
    height: 14px;
    margin-top: 2px;
    width: 14px;
    cursor:pointer;
    font-size:20px;
    color: #999999;
}
.mmpop-aero .bd {
	background:#fcfcfc;

	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	box-shadow:0px 1px 3px rgba(0,0,0,.25);
}
.mmpop-aero .ft {
	height: 36px;
	overflow:hidden;
	clear:both;
	background:#fcfcfc;
	text-align: center;
	padding: 5px 10px;
}
.mmpop-aero .ft span.button {
	display: inline-block;
	cursor: pointer;
	margin: 0 10px; 	
	width:70px;
	height:25px;
	text-align:center;
	font-weight:bold;
	line-height:25px;
}
.mmpop-aero .confirm-button {
	color:#fff;
	text-shadow:0px 1px 0px rgba(0,0,0,.2);

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;

	-webkit-box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	
	
	border:1px solid #5b8821;
	background: -webkit-linear-gradient(top, #AAD44F 0%,#74B931 90%,#6AAD2D 95%,#609D29 100%);
	background: -moz-linear-gradient(top, #AAD44F 0%, #74B931 90%, #6AAD2D 95%, #609D29 100%);
	background: -o-linear-gradient(top,  #AAD44F 0%,#74B931 90%,#6AAD2D 95%,#609D29 100%);
	background: -ms-linear-gradient(top,  #AAD44F 0%,#74B931 90%,#6AAD2D 95%,#609D29 100%);
	background: linear-gradient(top,  #AAD44F 0%,#74B931 90%,#6AAD2D 95%,#609D29 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad44f', endColorstr='#609d29',GradientType=0 );
}
.mmpop-aero .confirm-button:hover {
	background: #74B931;
}
.mmpop-aero .cancel-button {
	color: #666666;
	text-shadow:0px 1px 0px rgba(0,0,0,.2);

	border: 1px solid #B5B5B5;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
	-webkit-box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.5),
		0px 1px 2px rgba(0,0,0,.3);
	
	background: -webkit-linear-gradient(top, #F5F5F5 0%,#F1F1F1 90%,#E6E6E6 95%,#D2D2D2 100%);
	background: -moz-linear-gradient(center top, #F5F5F5 0%, #F1F1F1 90%, #E6E6E6 95%, #D2D2D2 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #F5F5F5 0%,#F1F1F1 90%,#E6E6E6 95%,#D2D2D2 100%);
	background: -ms-linear-gradient(top, #F5F5F5 0%,#F1F1F1 90%,#E6E6E6 95%,#D2D2D2 100%);
	background: linear-gradient(top, #F5F5F5 0%,#F1F1F1 90%,#E6E6E6 95%,#D2D2D2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='#D2D2D2',GradientType=0 );
}
.mmpop-aero .cancel-button:hover {
	background: #E6E6E6;
}


/* mm loading */
.mm-loading {
	background-color: #FEFEFE;
    border: 1px solid #CCCCCC;
    padding: 10px 30px;
    position: absolute;
    z-index: 1000;
    text-align: center;
}
.mm-loading p {
	color: #2E780D;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}






















